* {
    font-size: 18px;
}

header {
    background-color: #161D30;
}

.infos {
    padding-top: 20px;
    padding-bottom: 20px;
}

.hours {
    padding-left: 44px;
}

.fa-envelope,
.fa-phone {
    height: 21px;
    color: #FFAA04;
    padding-right: 4px;
    padding-top: 6px;
}

.fa-envelope {
    width: 18px;
}

.fa-phone {
    width: 15px;
}

.enveloppe {
    padding-right: 60px;
    color: white;
    text-decoration: none;
}

.phone {
    padding-right: 35px;
    color: white;
    text-decoration: none;
}
.rowbar{
    background-color: #0a0d15;
    padding-top: 50px;
}
.logo{
    padding-left: 58px;
}
.fa-magnifying-glass{
    color: white;
    width: 17px;
    height: 21px;
    padding-right: 39px;
}
.title{
    font-size: 80px;
    padding-top: 309px;
}

.presentation {
    background-color: #0a0d15;
    padding-bottom: 200px;
}
.description{
    font-size: 24px;
    padding-top: 48px;
}
.buttons{
    padding-top: 59px;
    padding-left: 10px;
}

.whiteBG{
    background-color: white;
    margin-top: 226px;
    border-radius: 0px 100px 0px 0px;
}
.consultant{
    padding: 61px 58px 61px 70px;
    font-size: 28px;
}

.opti{
    font-size: 36px;
    padding-top: 256px;
}
.imgRadius{
    border-radius: 300px 0px 0px 0px;
    padding-left: 50px;
}
.about{
    color: #FFAA04;
    font-size: 21px;
}
.texte{
    font-size: 16px;
}
.fa-earth-americas, .fa-chart-line{
    color: #189FF9;
}
.help{
    font-size: 40px;
}
.fa-magnifying-glass-dollar, .fa-lightbulb, .fa-user-tie, .fa-comment-dollar{
    width: 70px;
    height: 70px;
}
.textCard{
    font-size: 21px;
}
.cardRadius{
    border-radius: 0px 30px 0px 0px;
}

.greyBG{
    background-color: #F4F4F4;
    bottom: 80px;
    border-radius: 100px 0px 0px 0px;
    padding-top: 200px;
    padding-bottom: 150px;
}
.fa-circle-check{
    color: #189FF9;
}
.cardLeftRadius{
    border-radius: 0px 0px 0px 30px;
}
.cardRightRadius{
    border-radius: 0px 30px 0px 0px;
    position: relative;
    top: 60px;
}

.blackBG{
    background-color: #000;
    border-radius: 0px 100px 0px 0px;
    padding-bottom: 30px;
}

.cardWhite{
    top: 10rem;
    padding: 2rem;
    border-radius: 70px 0px 0px 0px;
}
.quote{
    font-size: 27px;
    color: #666;
}
.headTitle{
    font-size: 16px;
}
.imgBG{
    background-image: linear-gradient(rgba(22,29,48,0.9), rgba(22,29,48,0.9)),url(../images/map.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200vh;
}
.request{
    padding-top: 10vh;
}

.form{
    background-color: white;
    border-radius: 0px 50px 0px 0px;
    padding: 30px;
    padding-top: 100px;
    margin-left: 10vw;
}
.textareaNo{
    resize: none;
}
.freeQuote{
    font-size: 60px;
}
.phoneNumber{
    font-size: 36px;
    color: #FFAA04;
}
.phoneBigger{
    width: 29px;
    height: 41px;
}
.overlay-content {
    text-align: center;
    position: relative;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.more{
    color: #FFAA04;
}
.blocArticles{
    border-bottom: solid;
    border-color: #FFAA04;
}
.padBot{
    padding-bottom: 15vh;
}
.sectionGrey{
    background-color: #808080;
    padding-top: 60vh;
}
.overlay-test {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menuFooter{
    list-style-type: "> ";
    padding-left: 16px;
}
.menuFooter li{
    padding-bottom: 12px;
}
.menuFooter a{
    text-decoration: none;
}
.blueText{
    color: #189FF9;
}
.footerInfos{
    list-style-type: none;
    padding-left: 0px;
}
.allRights{
    background-color: #131721;
}